h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    text-align: center;
    width: 30%;
}

th {
    border: 2px dashed red;
}

td {
    border: 2px solid green;
}

thead {
    background-color: orange;
}

tbody {
    background-color: yellow;
}

p {
    text-align: justify; margin-left: 20px ;margin-right: 20px;
    columns: 250px 3;column-gap: 50px;
}